<div class="card"
     [ngClass]="getClass()"
>
  <div class="card-header">
    {{ group.name }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let user of group.userArray">{{ user.name}}</li>
  </ul>
</div>
