<form (ngSubmit)="createUser()">
  <label for="name"> Insert your name: </label>
  <input
    type="text"
    name="name"
    id="name"
    #nameInput
  />

  <label for="email"> Insert your email: </label>
  <input
    type="text"
    name="email"
    id="email"
    #emailInput
  />

  <label>Is Active?: </label>
  <input
    type="checkbox"
    name="checkbox"
    value="false"
    #checkInput
  />

  <label for="roles">Choose a role: </label>
  <select name="roles" id="roles" #roleInput>
    <option value="user">user</option>
    <option value="editor">editor</option>
    <option value="admin">admin</option>
  </select>

  <button  type="submit"> Add</button>
</form>
