<form class="mt-4" (ngSubmit)="createGroup()">
  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Create new Group:</label>
    <input type="text" class="form-control" id="exampleInputName"
           aria-describedby="emailHelp" placeholder="group name"
    #groupNameInput>
  </div>
  <button  type="submit" class="btn btn-primary">Create new group</button>
</form>
