<div class="mb-5">
  <button type="button" class="btn btn-primary" (click)="changeValue()">Manage</button>
  <button type="button" class="btn btn-secondary" (click)="showUsersGroups()">Users and Groups</button>
</div>
<main>
  <div *ngIf="showCreateComponent">
    <h2>Create Users and Groups:</h2>
    <app-new-user></app-new-user>
    <app-new-groups></app-new-groups>
  </div>

  <div *ngIf="showUserAndGroups" class="d-flex">
    <app-users></app-users>
    <div>
      <app-groups></app-groups>
    </div>
  </div>
</main>

