<div class="card " style="width: 18rem;" (click)="addUsers()">
  <div class="card-body">
    <h5 class="card-title">Name: <strong>{{ user.name }}</strong></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
    <p>Role: <strong>{{ user.role }}</strong></p>
    <span>Is  active: {{ activeCheck() }}</span>
  </div>
</div>

